<!DOCTYPE html>
<html>
<head>
    <title>My Web Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to My Web Page</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/signin">signin</a></li>
            <li><a href="/signup">signup</a></li>
        </ul>
    </nav>
    <main>
        <h2>Content Section</h2>
        <p>This is some content on my web page.</p>
        <button id="clickMe">Click Me</button>
    </main>
    <footer>
        &copy; 2023 My Web Page
    </footer>
    <script src="script.js"></script>
</body>
</html>
