<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Finexo</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
            <form method="POST" action="/register" onsubmit="return validateForm()">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input type="text" name="full_name" id="full_name" placeholder="e.g. John Doe" required>
                        <span id="name-error" style="color: red;"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" name="username" id="username" placeholder="e.g. JohnDoe" required oninput="validateUsername()">
                        <span id="username-error" style="color: red;"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" name="email" id="email" placeholder="e.g. abc@mail.com" required>
                        <span id="email-error" style="color: red;"></span>
                    </div>
                    <div class ="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" name="phone" id="phone" placeholder="e.g. 0123456789" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <div class="password-input">
                            <input type="password" name="password" id="password" placeholder="&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;" required>
                            <button type="button" id="togglePassword"><i class="fa-solid fa-eye-slash"></i></button>
                        </div>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <div class="password-input">
                            <input type="password" name="confirm_password" id="confirm_password" placeholder="&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;" required>
                            <button type="button" id="toggleConfirmPassword"><i class="fa-solid fa-eye-slash"></i></button>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>
                <div class="signup-link">
                    <center>Already a member? <a href="/signin">LogIn now</a></center>
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='signup.js') }}"></script>

</body>
</html>
